body {
    background: linear-gradient(to right, red 34%, blue 65%);
    height: 100%;
}
.slideshow {
    display: flex;
    justify-content: center;
    align-content: center;
}
.img {
    border: solid 5px rgb(0, 0, 0);
    padding: 5px 5px;
}
.heading {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

}


@media screen and (max-width: 600px) {
    img {
        width: fit-content;
        height: fit-content;
    }
}
